@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr 0.5fr 1.5fr 1.6fr 0.4fr 1.7fr 0.3fr; 
    grid-template-rows: 0.4fr 1fr 0.9fr 1.7fr 1fr 1fr 1fr 2fr 0.9fr 0.6fr 0.8fr 1.2fr 0.5fr; 
    gap: 0px 0px;
    height: 100%;
    grid-template-areas: 
      ". . . . . . . ."
      ". back . title title . appName ."
      ". . . . . . . ."
      ". . form form form form . ."
      ". . form form form form . ."
      ". . form form form form . ."
      ". . form form form form . ."
      ". . form form form form . ."
      ". . . . . . . ."
      ". . instructions instructions instructions instructions . ."
      ". . . . . . . ."
      ". footer footer footer footer footer footer ."
      ". . . . . . . ."; 
  }
  .title { grid-area: title; }
  .logo { grid-area: appName; }
  .back { grid-area: back; }
  .form { grid-area: form; }
  .instructions { grid-area: instructions; }
  .footer { grid-area: footer; }

.title {
    @include center();
    font-size: 3em;
}

.back {
    @include center();
    column-gap: .5em;
    font-size: 1.75em;
}

.logo {
    @include center();
}

.instructions {
    @include center();
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 1.5em;
    padding-inline: 3em;
    border-radius: 20px;
    height: 30em;
    width: 30em;
    margin: auto;
    background: white;

    & input {
        width: 100%;
        height: 10em;
        margin-block: .75em;
        border-radius: 10px;
        padding-inline-start: 2em;
    }

    & button {
        height: 10em;
        width: 8em;
        font-size: 1em;
        margin-top: 1.25em;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41em;
    height: 5.25em;
    margin: auto;
    border-radius: 10px;
    background: white;


    & ul {
        display: flex;
        justify-content: space-around;
        column-gap: 2em;
    }

    & * {
        background: white;
    }
}